* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.page-container {
  /** cria a página com 60% de largura ***/
  width: 40%;
  min-height: 100vh;
  margin: 0 auto;

  /*** centraliza o conteúdo dela ***/
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-left, .page-right {
  /*** cria duas colunas no centro da tela ***/
  flex-grow: 1;
  flex-shrink: 1;
  height: 600px;
  width: 50%;
}

/*** colorindo para diferenciar as colunas ***/
.page-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-left .image-container {
  background-image: url('../img/instagram-celular.png');
  background-size: cover;
  background-position: center;
  background-position-y: -20px;
  height: 100%;
  width: 100%;
}

.page-left img {
  position: relative;
  top: -20px;
  height: 57rem;
}

.page-right {
  /*** distribui os grupos com espaços em volta ***/
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.page-right .group {
  border: 1px solid lightgray;
  background-color: #fff;
  width: 100%;
  padding: 1.3rem;
  margin: 0.3rem;

  /*** centraliza tudo como uma única coluna ***/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.profile-image {
  overflow: hidden;
  border-radius: 50%;
  margin: 2rem 0;
}

.profile-image img {
  height: 6rem;
}

.group .link-login, 
.group .link-logout,
.group .link-blue {
  font-weight: 600;
  color: #0095f6;
}

.group .link-login, 
.group .link-logout {
  margin: 0.8rem 0;
}

.group .link-login {
  padding: 8px;
  border-radius: 4px;
  background-color: #0095f6;
  color: #fff;
}

.group p {
  color: #b0b0b0;
  font-weight: 600;
  line-height: 21px;
}

.group:nth-child(3) {
  border: none;
  background-color: transparent;
}

.group:nth-child(3) p {
  color: #101010;
}

.group .download {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 0.8rem;
}

.group .download a {
  height: 3.2rem;
  width: 11rem;
  background-size: cover;
}

.group .download a:nth-child(1) {
  background-image: url('../img/googleplay-button.png');
}

.group .download a:nth-child(2) {
  background-image: url('../img/apple-button.png');
}

@media (max-width: 1800px) {
  .page-container {
    width: 50%;
  }
}

@media (max-width: 1400px) {
  .page-container {
    width: 60%;
  }
}

@media (max-width: 1250px) {
  .page-container {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .page-container {
    width: 80%;
  }
}

@media (max-width: 930px) {
  .page-container {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .page-left {
    display: none;
  }
}

@media (max-width: 380px) {
  .group .download {
    flex-direction: column;
  }

  .group .download a {
    margin: 0.3rem;
  }
}